@import './utils/vars';
@import './utils/mixin';
@import './utils/placeholders';
@import './utils/hidden';

@import './base/reset';
@import './base/common';


@import './components/section';
@import './components/container';
@import './components/logo';
@import './components/menu-mobile';
@import './components/section-title';
@import './components/btn';
@import './components/modal-window';
@import './components/modal-crew-window';


@import './layouts/header';
@import './layouts/hero';
@import './layouts/benefits';
@import './layouts/work';
@import './layouts/crew';
@import './layouts/clients';
@import './layouts/footer';

@import './pages/portfolio';





