:root {
    --primary-text-color: #757575;
    --accent-color: #2196f3;
    --primary-bkg-color: #ffffff;
    --primary-bkg-bt-color: #f5f4fa;
    --primary-title-color: #212121;
    --bkg-footer-color: #2f303a;
    --primary-logo-color: #afb1b8;
    --transition-duration: 250ms;
    --transition-cub: cubic-bezier(0.4, 0, 0.2, 1);
    --bt-bkg--hover-color: #188ce8;
    --main-font-style: "roboto";
    --gradient: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4));
}